{% extends 'base.html' %}
{% block title%}
    Account
{% endblock %}

{% block content%}
     <div class="account-container">
        <h2>Account Information</h2>
        <div id="account-details">
            <!-- User information will be displayed here -->
        </div>
    </div>

    <style>
        .account-container {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
        }

        #account-details {
            margin-top: 10px;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        .user-info {
            font-size: 16px;
            margin-bottom: 10px;
        }

        .profile-image {
            max-width: 100px;
        }


    </style>


    
{% endblock %}