{% extends 'base.html' %}
{% block title%}
    Face Dectection 
{% endblock %}

{% block content%}
<div class="container">
    <h2>Facial Recoginition  </h2>
    <p>Click on the button to toggle between showing and hiding content.</p>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Learn How  to use </button>
    <div id="demo" class="collapse">
      <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>

    <br>
    <br>

    <h2>Image Submission</h2>
    <form action="/face" method="POST" enctype="multipart/form-data">
        <label for="image">Select an image:</label>
        <input type="file" id="image" name="file"  required><br>
        
        <label for="filename">Add details :</label>
        <input type="text" id="filename" name="filename"><br>
        
        <input type="submit" value="Upload"  class="btn btn-info" >
    </form>
    <br>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <img id="video_feed" src="{{ url_for('video_feed') }}" width="100%" height="120%">
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
        <table>
        <tr>
            <th> <i class="fa fa-user" aria-hidden="true"></i> Person </th>
            <th> <i class="fa fa-address-book-o" aria-hidden="true"></i> In record </th>
            <th> <i class="fa fa-info-circle" aria-hidden="true"></i> Name</th>
            <th> <i class="fa fa-level-up" aria-hidden="true"></i> Level </th>
            {% for i in facing %}
            <tr>
                    
                <td> Person </td>
                <td> in record </td> 
                <td> {{i}}</td>
                <td> yeah</td> 
            </tr>
            {% endfor %}


            
    </table>
    </div>
</div>
<br>
<br>

<style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
    }
</style>

    
{% endblock %}